ul.nav
	//- li: a(href="/") Forside
	li: a(href="/page/activities") Surfskole og Aktiviteter
	li: a(href="/page/about") Om klubben
	li: a(href="/page/webcam") Webcam
	li: a(href="/page/weather") Vind og vejr
	li: a(href="/page/about/contacts") Kontakt
	li: a(href="/page/about/vedtaegter") Vedtægter
	li.dropdown
		a.dropdown-toggle(href="#", data-toggle="dropdown") Bonus
			b.caret .
		ul.dropdown-menu
			li: a(href="https://plus.google.com/u/1/photos/109722236261114406275/albums", 
				target="_blank"
				title="Se vores billedgalleri") Billeder
			li: a(href="http://www.youtube.com/user/Koldingwindsurfklub?ob=0&feature=results_main", 
				target="_blank"
				title="Se Videoer i vore youtube kanal") Videoer
			li: a(href="http://www.facebook.com/groups/17993003105", 
				target="_blank"
				title="KWK's facebook gruppe") Facebook gruppe

